.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsteelblue;
    color: white;
    outline: none;
    border: none;
    font-size: 3rem;
    padding: 1.5rem 1rem;    
}


.footer a {
    text-decoration: none;
}

.listSelected{
    background-color:none ; 
}

.listSelected:focus-within{
    background-color:white ; 
}

.linkSelected {
    color: white;
}

.linkSelected:focus {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #2248e2, #5f7ae8);
}

  
.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
  
.footer li{
    text-decoration: none;
    padding: 1rem;
    margin: 0 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
}
  
button {
    color:inherit;
    /* background-color: inherit; */
    padding: 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
  }

  button:focus-within{
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #2248e2, #5f7ae8); 
  }

  .footer div {
    /* background-color: inherit; */
    border-radius: 0.5rem;
  }

  .footer div:focus-within{
    background-color:white ;
  }
  